#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.App {
  align-items: center;
  background-color: var(--gray-050);
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  justify-content: center;
  color: var(--ink-600);
}

@font-face {
  font-family: 'Gelica';
  src: url('assets/fonts/gelica-black-webfont.woff2') format('woff2'), url('assets/fonts/gelica-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CamingoCode';
  src: url('assets/fonts/CamingoCode-Regular.woff2') format('woff2'), url('assets/fonts/CamingoCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CamingoCode';
  src: url('assets/fonts/CamingoCode-Bold.woff2') format('woff2'), url('assets/fonts/CamingoCode-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CamingoCode';
  src: url('assets/fonts/CamingoCode-Italic.woff2') format('woff2'), url('assets/fonts/CamingoCode-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CamingoCode';
  src: url('assets/fonts/CamingoCode-BoldItalic.woff2') format('woff2'), url('assets/fonts/CamingoCode-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
